{% extends 'index.html' %}

{% block head %}
        <title>create-student page</title>
{% endblock %}
    

{% block content %}

<form class="container card m-3 mx-auto p-3 shadow col-8" method="post">
    <div class="mb-3">
        <label for="student" class="form-label">Student Name</label>
        <input type="text" name="student_name" class="form-control" id="student">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" >
    </div>
    <div class="mb-3">
      <label for="contact" class="form-label">Contact Number</label>
      <input type="number" name="contact" class="form-control" id="contact" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}